<% @statuses = Item.where(wall_owner_id: params[:id]).where(item_type: "status") %>
<% if @statuses %>
<% @statuses.reverse.each do |status| %>
<% @status = status %>
<div class="status">
<%= render partial: 'items/status' %>
</div>
<% end %>
<% end %>
