/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


 .error {
  background-color:red;
  padding:3px;
  box-shadow:0px 0px 3px #474747;
  color:white;
  width:200px;
  font-size:11px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(top, #FF4242 0%, #4D0000 100%);

  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #FF4242 0%, #4D0000 100%);

  /* Opera */
  background-image: -o-linear-gradient(top, #FF4242 0%, #4D0000 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FF4242), color-stop(1, #4D0000));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #FF4242 0%, #4D0000 100%);

  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to bottom, #FF4242 0%, #4D0000 100%);
  border-radius:20px;
  display:inline;
  display:none;
}

#error_name {
  border-bottom-left-radius:0px;

}

html {
  padding-bottom: 200px;
}

body {
  padding-top: 60px;
  background: url(background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body a {
  font-weight:bold;
  color:rgb(100,200,400);
}

body a:visited {
  font-weight:bold;
  color:rgb(100,200,400);
}

#container{
  margin: auto;
  width: 70%;
  color:white;
}
#navigation {
  display:block;
  display:inline-block;
  position:fixed;
  margin-top: -10px;
  z-index:1;
  width:100%;
  height:70px;
  top:0;
  left:0;
  box-shadow:0 1px 6px #2d2d2d;
  background:rgba(250,250,250,0.99);
  border-top:1px solid #e6e7e8;
  border-bottom:1px solid #e6e7e8;
}
#navigation a {
        display:block;
        float:left;
        padding-left: 20px;
        padding-right: 20px;
        line-height:69px;
        font-weight:bold;
        color:#777777;
      }
#navigation a:hover {
        text-decoration:none;
        color:#444444;
        background:rgba(200,200,200,0.9);
      }

.update_status{
  text-align: center;
}

.likes{
  padding-left: 30px;
}
.like_comment_button{
  float:right;
  margin-top: -20px;
  padding-right: 200px;
}

.update_status label{
  color: white;
}

.friend_list{
  width: 40%;
  float: right;
}

.friend{
  background:rgba(150,150,150,0.85);
  height: 200px;
  padding-top: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

.status{
  margin-top: 2px;
  border: black solid 1px;
    background:rgba(100,100,100,0.75);
}

.status ul{
  list-style: none;
  padding-left: 0;
}

.comments li{
  display: inline;
  list-style: none;
  padding-left: 20px;
}

.comments:nth-child(even){
  background:rgba(150,150,150,0.85);
}
.comments:nth-child(odd){
 background:rgba(150,150,150,0.55);
}

#user_interest{
  width: 50%;
  height: 300px;
}

#sign_up{
  padding-top: 100px;
  text-align: right;
  width: 50%;
}

#login{
  padding-top: 10px;
  color: black;
  display: inline-block;
  text-align: right;
}
.user_splash{
  height: 265px;
  padding-left: 20%;
  padding-right: 20%;
  background:rgba(100,100,100,0.75);
}

.user_splash .gravatar{
    border: 5px solid;
}

.status_feed{
  width: 50%;
  float: left;
}

#user_grav{
  float: right;
  margin-top: -59px;
}

.user_splash a:visited {
  font-weight:bold;
  color:rgb(100,200,400);
}
.user_splash a {
  font-weight:bold;
  color:rgb(100,200,400);
}
img.gravatar{
  width: 150px;
  float: right;
}

.header_image {
  padding: 0;
  margin: 0;
}

.splash {
  height:1000px;
  width: 1400px;
  background-image:url(Coyotes.jpg);
  position: fixed;
}

.splash_container {
  position: absolute;
  top: 25%;
  width: 80%;
  margin-left: 10%;
  height: 33%;
  background-color:rgba(59,89,152,0.9);
}

.friend_list .gravatar{
  border: 3px solid;
  margin-top: 0px;
}

.splash_inputs {
  position: relative;
  top: 10%;
  margin: 20px auto;
  width: 33%;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  background-color: white;
}

#friends{
  float: right;
  margin-top: -30px;
  padding-right: 20px;
}
